
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "Source Sans Pro", sans-serif;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


